// Typography for use with font-family and font-weight declarations
$font-body: acumin-pro-semi-condensed, 'avenir next', avenir, sans-serif;
$font-display: acumin-pro-condensed, 'avenir next condensed', 'roboto condensed', 'arial nova condensed', 'avenir next', avenir, sans-serif;
$font-mono: consolas, courier, monospace;

$weight-thin: 100;
$weight-extralight: 200;
$weight-regular: 300;
$weight-semibold: 600;

// Built-in example colors processed with color lightness function
$colors: (
  shade: hsl(197, 15%, 16%),
  blue: hsl(197, 92%, 32%),
  orange: hsl(17, 77%, 64%)
);

$black: c(shade);
$darkgray: c(shade, 24%);
$lightgray: c(shade, 72%);
$white: c(shade, 92%);
$blue: c(blue);
$blue--inverse: c(blue, 64%);
$orange: c(orange);


// Media query width map
$widths: (
  s: 28em,
  m: 40em,
  l: 60em
);
