// Typography for use with font-family and font-weight declarations
$font-body: acumin-pro-semi-condensed, 'avenir next', avenir, sans-serif;
$font-display: acumin-pro-condensed, 'avenir next', avenir, sans-serif;
$font-mono: consolas, courier, monospace;

$weight-thin: 100;
$weight-regular: 400;
$weight-semibold: 600;

// Built-in example colors processed with color lightness function
$colors: (
  shade: hsl(220, 10%, 15%),
  blue: hsl(220, 40%, 30%),
  gold: hsl(40, 54%, 42%),
);

$black: c(shade);
$darkgray: c(shade, 25%);
$lightgray: c(shade, 75%);
$white: c(shade, 90%);
$blue: c(blue);
$gold: c(gold);


// Media query width map
$widths: (
  s: 25em,
  m: 40em,
  l: 60em,
  xl: 80em
);
