/* Main body content */
.content {
  margin: auto;
  padding: 1em;

  @include min-width(m) {
    margin-left: 6%;
    padding: 1em 1em 1em 0;
  }

  @include min-width(l) {
    padding: 1em 0;
    min-width: 45em;
    width: 75%;
  }
}
