/* Main body content */
.content {
  margin: auto;
  padding: 1em;

  @include min-width(m) {
    margin-left: 6%;
    padding: 1em 1em 1em 0;
  }

  @include min-width(l) {
    padding: 1em 0;
    width: 75%;
  }
}

.content-date {
  font-size: .875em;
  margin-top: .5em;

  @include min-width(m) {
    font-size: .75em;
    text-align: right;
  }
}

.content-image {
  margin: 1em -1em 0;

  @include min-width(m) {
    margin: 1em -1em 0 0;
  }

  @include min-width(l) {
    margin: 1em auto 0;
  }
}

.content-image--wide {
  margin: 1em -1em 0;

  @include min-width(m) {
    margin: 1em -1em 0 0;
  }

  @include min-width(l) {
    margin: 1em -18% 0 0;
  }
}
