%grid-image {
  flex: 0 auto;
  margin: 0 auto;
  padding: .5em 0 0 .5em;
  width: 100%;

  @include min-width(s) {
    flex: 0; // flex-basis set at 0 rather than 100%
  }
}

.grid-image,
.grid-image--aspect3x2 {
  @extend %grid-image;

  @include min-width(s) {
    flex: 1.5 0%;
  }
}

.grid-image--aspect4x3 {
  @extend %grid-image;

  @include min-width(s) {
    flex: 1.333333 0%;
  }
}

.grid-image--aspect2x3 {
  @extend %grid-image;

  @include min-width(s) {
    flex: .666667 0%;
  }
}

.grid-image--aspect3x4 {
  @extend %grid-image;

  @include min-width(s) {
    flex: .75 0%;
  }
}

.grid-image--aspect3x1 {
  @extend %grid-image;

  @include min-width(s) {
    flex: 3 0%;
  }
}

.grid-image--aspect1x1 {
  @extend %grid-image;

  @include min-width(s) {
    flex: 1 0%;
  }
}
