/* Heading (`h1`) style used for archive indexes. */
.index-title {
  font-size: 3em;
  flex: 0 0 100%;
  margin: 0;
  width: 100%;

  @include min-width(s) {
    text-align: right;
  }

  @include min-width(l) {
    font-size: 6em;
  }
}
