.note {
  margin-top: 1em;

  @include min-width(m) {
    font-size: .8rem; // max
    margin-left: calc(25% + 1em);
    padding-right: 6%;
    width: 75%;
  }

  @include min-width(l) {
    margin-left: 50%;
    margin-top: 2em;
  }

  a {
    text-decoration: underline;
  }
}
