{% assign src = photo.path | replace: '_photos', '/images' | replace: '.md', '.jpg' %}
{% assign quality = 70 %}

<figure class="
  {% if photo.aspect %}
    grid-image--aspect{{ photo.aspect }}
  {% else %}
    grid-image
  {% endif %}
">
  <a class="grid-image-link" href="{{ photo.url }}">
    <img
      class="lazyload"
      src="{{ src | imgix_url: w: 480, q: 40 }}"
      data-src="{{ src | imgix_url: w: 640, q: quality }}"
      data-sizes="auto"
      data-srcset="{% for width in site.srcset %}
        {{ src | imgix_url: w: width, q: quality }} {{ width }}w{% if forloop.last == false %}, {% endif %}
      {% endfor %}"
      alt="{{ photo.alt }}">
  </a>
  {% if photo.caption %}
  <figcaption>{{ photo.caption | markdownify }}</figcaption>
  {% endif %}
</figure>
