$back: $white;
$back--inverse: $darkgray;
$fore: $black;
$fore--inverse: $white;
$accent: $blue;
$link: $blue;
$link--hover: $gold;
$link--inverse: $blue--inverse;
$link--hover--inverse: $gold--inverse;

html {
  color: $fore;
}

body {
  background-color: $back;
  color: $fore;
}

a {
  color: $link;

  &:hover,
  &:focus {
    color: $link--hover;
  }
}

.banner-universal {
  background-color: $back--inverse;
  color: $fore--inverse;

  a {
    color: $fore--inverse;

    &:hover,
    &:focus {
      color: $link--hover--inverse;
    }
  }
}

.end {
  background-color: $back--inverse;
  color: $fore--inverse;

  a {
    color: $link--inverse;

    &:hover,
    &:focus {
      color: $link--hover--inverse;
    }
  }
}
