.banner--home {
  padding: 1em 1em 0;

  @include min-width(m) {
    padding: 1em 50% 0 6%;
  }
}

.banner-universal {
  padding: .5em 1em;
  width: 100%;

  @include min-width(m) {
    padding: .5em 6% .5em;
  }

  .logotype--small {
    width: 25%;

    @include min-width(l) {
      width: 20%;
    }
  }
}

.banner-inner {
  flex: 0 0 100%;
  margin: 0;
  padding: 1em 1em 0;
  width: 100%;

  @include min-width(s) {
    text-align: right;
  }

  @include min-width(l) {
    padding: 1em 6% 0;
  }
}
