<!doctype html>
<html lang="en">
{% include head.html %}

<body class="photo">

  {% include container/banner.html %}

  <div class="h-entry core" role="main">

    <article class="content">

      <figure class="{% if page.aspect == '2:3' or page.aspect == '3:4' %}content-image{% else %}content-image--wide{% endif %}">
        {% assign image = page %}
        {% assign src = image.path | replace: '_photos', '/images' | replace: '.md', '.jpg' %}
        {% assign quality = 80 %}
        <img
          class="image lazyload"
          src="{{ src | imgix_url: w: 480, q: 40 }}"
          data-src="{{ src | imgix_url: w: 640, q: quality }}"
          data-sizes="auto"
          data-srcset="{% for width in site.srcset %}
            {{ src | imgix_url: w: width, q: quality }} {{ width }}w{% if forloop.last == false %}, {% endif %}
          {% endfor %}"
          alt="{{ image.alt }}">
      </figure>

      <h2>{{ page.title }}</h2>

      <p>{{ page.date | date: '%A, %B %-d, %Y' }}
        <br>from the set:
        <!-- TODO fix implementation of linking back to sets -->
        {% assign posts = site.posts | where: "slug", page.category %}
        {% for post in posts %}
          <a href="{{ post.url }}">{{ post.title }}</a>
        {% endfor %}
      </p>

    </article>

  </div>

  {% include container/end.html %}

</body>
</html>
