<!doctype html>
<html lang="en">
{% include head.html %}

<body class="photo">

  <div class="h-entry core" role="main">

    <article class="content">


      <p class="content-date">{{ page.date | date: '%A, %B %-d, %Y' }}</p>

      <figure class="{% if page.aspect == '2:3' or page.aspect == '3:4' %}content-image{% else %}content-image--wide{% endif %}">
        {% assign image = page %}
        <img
          class="image"
          src="{{ image.path | replace: '_photos', '/images' | replace: '.md', '.jpg' }}">
      </figure>

      <h2>{{ page.title }}</h2>

    </article>

  </div>

  {% include container/end.html %}

</body>
</html>
