<!doctype html>
<html lang="en">
{% include head.html %}

<body class="post">

  <div class="h-entry core" role="main">

    <article class="content">

      <h1>{{ page.title }}</h1>

      <p class="content-date">{{ page.date | date: '%A, %B %-d, %Y' }}</p>

      <div class="grid">
      {% assign category = page.slug %}
      {% assign images = site.photos | where: 'category', category | where: 'group', 1 %}
      {% for image in images %}
        {% include block/grid-image.html %}
      {% endfor %}
      </div>

      <div class="grid">
      {% assign category = page.slug %}
      {% assign images = site.photos | where: 'category', category | where: 'group', 2 %}
      {% for image in images %}
        {% include block/grid-image.html %}
      {% endfor %}
      </div>

      <div class="grid">
      {% assign category = page.slug %}
      {% assign images = site.photos | where: 'category', category | where: 'group', 3 %}
      {% for image in images %}
        {% include block/grid-image.html %}
      {% endfor %}
      </div>

      <div class="grid">
      {% assign category = page.slug %}
      {% assign images = site.photos | where: 'category', category | where: 'group', 4 %}
      {% for image in images %}
        {% include block/grid-image.html %}
      {% endfor %}
      </div>

      <div class="grid">
      {% assign category = page.slug %}
      {% assign images = site.photos | where: 'category', category | where: 'group', 5 %}
      {% for image in images %}
        {% include block/grid-image.html %}
      {% endfor %}
      </div>

      <div class="note">
        {{ content }}
      </div>

    </article>

    <div class="pagination">
    {% if page.previous.url %}
      <a class="pagination-link--earlier" rel="previous" href="{{ page.previous.url }}">earlier <strong class="pagination-title">{{ page.previous.title }}</strong></a>
    {% endif %}

    {% if page.next.url %}
      <a class="pagination-link--later" rel="next" href="{{ page.next.url }}">later <strong class="pagination-title">{{ page.next.title }}</strong></a>
    {% endif %}
    </div>

  </div>

  {% include container/end.html %}

</body>
</html>
